.Title {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(192, 112, 26);
  color: #fff;
}

.Title-Container {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.Title-Subtitle {
  color: rgba(255, 255, 255, 0.75);
}

.Logo {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 10px;
  margin-right: 10px;
}

.NavBar {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.Title a {
  display: inline-block;
  padding: 0.5em 1em;
  color: rgba(255, 255, 255, 0.835);
  font-weight: bold;
  text-decoration: none;
}

.Title .nav-link-active {
  color: #fff;
  border-bottom: 2px solid;
}
